{% extends './base.html' %}
{% load static %}
{% block content %}
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">
              Fumars & WhiteCom<br>
              <a style="font-size:0.5em;">부산대학교 전자전기컴퓨터 학술동아리</a>
            </h1>
            <!--
            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
          -->
          </div>
          <!-- Content Row -->
          <div class="row">

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">동아리 회원 수</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">
												{{ user_list|length }}명
											</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-user-circle fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">연간 동아리 회비</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">
                        &#8361;15,000
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-won-sign fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-info text-uppercase mb-1">스터디 참여도</div>
                      <div class="row no-gutters align-items-center">
                        <div class="col-auto">
                          <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">75%</div>
                        </div>
                        <div class="col">
                          <div class="progress progress-sm mr-2">
                            <div class="progress-bar bg-info" role="progressbar" style="width: 75%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-book fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Pending Requests Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">카카오톡 채널</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">
                        <a>플러스 친구 </a><a href="#" style="color:#F6C23E">바로가기</a>
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-comment-dots fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Content Row -->
          <div class="row">
          	<div class="col-lg-8 mb-4">
              <!-- Approach -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">활동 소개</h6>
                </div>
                <div class="card-body">
                  <p style="font-size: 3.5em; color:#5A5C69; font-family:'Hanna'">
                  	야, 너두 할 수 있어.
                  </p>
                  <p>
                  	전기회로가 어려운가요? Python을 처음 들어봤다고요? 괜찮습니다. 정상적인 반응이에요. 원래 처음은 다 어렵습니다. 하지만 혼자가 아니라면 어떨까요? 동아리 스터디 프로그램을 통해 Python, C언어와 같은 프로그래밍과 전기회로를 모두 배울 수 있습니다. 혼자 공부하는게 아닌, 친구들과 함께 시작해보세요. 훨씬 낫습니다.
                  </p>
                  <p>
                  	동아리원이라면 누구나 스터디에 참가할 수 있고, 스터디의 강사는 동아리에서 엄선된 인원들로 정해집니다. 스터디 활동은 우리 동아리의 가장 큰 장점이며 항상 높은 만족율을 보여 왔습니다. 장담컨데, 꽤 괜찮을겁니다.
                  </p>
                  <p>
                  	* 스터디 과목은 학기별로 정해지며, 수요에 따라 추가로 개설 될 수 있습니다.<br> 
                  	* 스터디 일정 및 장소는 스터디 개설 후 참가 인원들과 협의해서 결정됩니다.
                  </p>
                  <!--
                  <p class="mb-0">
                  	누구랑 수업을 들을지 막막하나요? 공모전이나 대회 준비는 어떻게 해야할지 모르겠나요? 이럴 때 
                  	선 &#183; 후배들과 함께 동아리에서 공부한다면 
                  </p>
              	  -->
                </div>
              </div>
            </div>
            <!-- Pie Chart -->
            <div class="col-xl-4 col-lg-5">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">인원 현황</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <div class="chart-pie pt-4 pb-2">
                    <canvas id="myPieChart"></canvas>
                  </div>
                  <div class="mt-4 text-center small">
                    <span class="mr-2">
                      <i class="fas fa-circle text-primary"></i> 전기
                    </span>
                    <span class="mr-2">
                      <i class="fas fa-circle text-success"></i> 컴퓨터
                    </span>
                    <span class="mr-2">
                      <i class="fas fa-circle text-info"></i> 전자
                    </span>
                  </div>
                </div>
              </div>
            </div>
       	  </div>
          <div class="row">
            <div class="col-lg-6 mb-4">
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">iPad Pro</h6>
                </div>
                <div class="card-body">
                  <p>당신의 다음 컴퓨터는 컴퓨터가 아니다.</p>
                  <p>&#8361;1,029,000부터</p>
                  <a target="_blank" rel="nofollow" href="https://undraw.co/">Browse Illustrations on unDraw &rarr;</a>
                </div>
              </div>
            </div>
            <div class="col-lg-6 mb-4">
              <!-- Approach -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Development Approach</h6>
                </div>
                <div class="card-body">
                  <p>SB Admin 2 makes extensive use of Bootstrap 4 utility classes in order to reduce CSS bloat and poor page performance. Custom CSS classes are used to create custom components and custom utility classes.</p>
                  <p class="mb-0">Before working with this theme, you should become familiar with the Bootstrap framework, especially the utility classes.</p>
                </div>
              </div>
            </div>
          </div>
{% endblock %}

{% block script %}
<script>
// Set new default font family and font color to mimic Bootstrap's default styling
Chart.defaults.global.defaultFontFamily = 'Nunito', '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
Chart.defaults.global.defaultFontColor = '#858796';

// Pie Chart Example
var ctx = document.getElementById("myPieChart");
var myPieChart = new Chart(ctx, {
  type: 'doughnut',
  data: {
    labels: ["전기", "컴퓨터", "전자"],
    datasets: [{
      data: [{{ece_num}}, {{cse_num}}, {{eec_num}}],
      backgroundColor: ['#4e73df', '#1cc88a', '#36b9cc'],
      hoverBackgroundColor: ['#2e59d9', '#17a673', '#2c9faf'],
      hoverBorderColor: "rgba(234, 236, 244, 1)",
    }],
  },
  options: {
    maintainAspectRatio: false,
    tooltips: {
      backgroundColor: "rgb(255,255,255)",
      bodyFontColor: "#858796",
      borderColor: '#dddfeb',
      borderWidth: 1,
      xPadding: 15,
      yPadding: 15,
      displayColors: false,
      caretPadding: 10,
    },
    legend: {
      display: false
    },
    cutoutPercentage: 80,
  },
});

</script>
{% endblock %}
<!--
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">iPad Pro</h6>
                </div>
                <div class="card-body">
                  <div class="text-center">
                    <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;" src="{% static 'img/undraw_posting_photo.svg' %}" alt="">
                  </div>
                  <p>Add some quality, svg illustrations to your project courtesy of <a target="_blank" rel="nofollow" href="https://undraw.co/">unDraw</a>, a constantly updated collection of beautiful svg images that you can use completely free and without attribution!</p>
                  <a target="_blank" rel="nofollow" href="https://undraw.co/">Browse Illustrations on unDraw &rarr;</a>
                </div>
              </div>
-->