{% extends './base.html' %}
{% load static %}
{% block content %}
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">
              공지사항<br>
            </h1>
            {% if request.session.user and request.session.user_type != 'temp' %}
            <a href="{% url 'write' %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-edit fa-sm text-white-50"></i> 글쓰기</a>
            {% endif %}
          </div>

           <div class="card shadow mb-4">
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>제목</th>
                      <th>날짜</th>
                      <th>글쓴이</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for notice in full_notice_list %}
                    <tr>
                      <td><a href="{% url 'show_notice' notice.id %}">{{ notice.title }}</a></td>
                      <td>{{ notice.pub_date | date:'Y.m.d H:i:s'}}</td>
                      <td>{{ notice.author }}</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <!--
          <div class="row">
            <div class="col-lg-6 mb-4">
              {% for article in blogs %}
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h5 class="m-0 font-weight-bold text-primary">{{article.title}}</h6>
                </div>
                <div class="card-body">
                  <div class="text-center">
                    <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;" src="{% static 'img/undraw_posting_photo.svg' %}" alt="">
                  </div>
                  <p style="font-size:1.1em;">{{article.body}}</p>
                  <a target="_blank" rel="nofollow" style="font-size:0.8em;">
                    {{article.pub_date}}에 작성됨<br>{{article.author}}</a>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
          -->
{% endblock %}
