{% extends './base.html' %}
{% load static %}
{% block content %}
{% if request.session.user and request.session.user_type != 'temp' %}
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">
              공지사항<br>
            </h1>
            <a href="{% url 'notice' %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-undo-alt fa-sm text-white-50"></i> 목록으로 가기</a>
          </div>
          <!-- Content Row -->
          <div class="row">
            <div class="col-lg-6 mb-4">
              <!-- Illustrations -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h5 class="m-0 font-weight-bold text-primary">{{article.title}}</h6>
                </div>
                <div class="card-body">
                  <!--
                  <div class="text-center">
                    <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;" src="{% static 'img/undraw_posting_photo.svg' %}" alt="">
                  </div>
                -->
                  <p style="font-size:1.1em;">{{article.body}}</p>
                  <a target="_blank" rel="nofollow" style="font-size:0.8em;">
                    {{ article.pub_date | date:'Y.m.d H:i:s'}}에 작성됨<br>{{article.author}}</a>
                </div>
              </div>
            </div>
          </div>
{% elif request.session.user_type == 'temp' %}
          <!-- 404 Error Text -->
          <div class="text-center">
            <div class="error mx-auto" data-text="404">404</div>
            <p class="lead text-gray-800 mb-5">접근권한이 부족합니다.</p>
            <p class="text-gray-500 mb-0">관리자에게 접근권한 상승을 요청하세요.</p>
            <a href="#">&rarr; 카카오톡으로 문의하기</a>
          </div>
{% else %}
          <!-- 404 Error Text -->
          <div class="text-center">
            <div class="error mx-auto" data-text="404">404</div>
            <p class="lead text-gray-800 mb-5">회원만 사용가능한 서비스입니다.</p>
            <p class="text-gray-500 mb-0">혹시 로그인을 안하셨나요?</p>
            <p class="text-gray-500 mb-0">우측 상단 메뉴에서 로그인을 하실 수 있습니다.</p>
          </div>
{% endif %}
{% endblock %}
