{% extends './base.html' %}
{% load static %}
{% block content %}
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">
              공지사항<br>
            </h1>
          </div>
          <!-- Content Row -->
          <div class="row">
            <div class="col-lg-6 mb-4">
              <!-- Illustrations -->
              <form class="card shadow mb-4" action="{% url 'save_notice' %}" method="POST">
                {% csrf_token %}
                <div class="card-body">
                  <h5>
                  제목<br><br>
                  <input type = "text" name = "title" 
                         style="font-size:12pt;"
                         size="40">
                  </h5>
                </div>
                <div class="card-body">
                  <p style="font-size:1.1em;">
                    내용
                  </p>
                  <textarea name = "body" cols = "40" rows = "10"></textarea><br><br>
                  <input type="submit" value="저장하기" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                </div>
              </form>
            </div>
          </div>
{% endblock %}
