{% extends './base.html' %}
{% load static %}
{% load mathfilters %}
{% block content %}
<!-- Page Heading -->
 {% if request.session.user and request.session.user_type == 'admin' %}
          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">관리자 페이지</h1>
          <p class="mb-4"> 자료실 관리 페이지입니다.
            <a target="_blank" href="http://49.50.164.155:8000/admin/login/?next=/admin/">
              Django 관리 바로가기
            </a>
          </p>

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">자료실 파일 목록</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" 
                       cellspacing="0" style="font-size:10pt;">
                  <thead>
                    <tr>
                      <th>전공</th>
                      <th>과목</th>
                      <th>학기</th>
                      <th>비고</th>
                      <th>작성자</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for file in file_list %}
                    <tr>
                      {% if file.major == "cse" %}
                      <td>컴퓨터</td>
                      {% elif file.major == "ece" %}
                      <td>전기</td>
                      {% else %}
                      <td>전자</td>
                      {% endif %}
                      <td>{{ file.subject }}</td>
                      <td>{{ file.semester }}</td>
                      <td><a href="/uploads/{{file.data}}">{{ file.note }}</a></td>
                      <td>{{ file.owner }}</td>
                      <td><a href="{% url 'delete_file' file.id %}" >삭제</a></td>
                      <!--
                      <td><a href="" data-toggle="modal" data-target="#fileModal">
                           삭제
                         </a>
                       </td>

                       <div class="modal fade" id="fileModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">정말이신가요?</h5>
                              <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              나중에 삭제 내용 추가하기 & 용량 작은 파일은  KB로 나오게 하기
                            </div>
                            <div class="modal-footer">
                              <button class="btn btn-secondary" type="button" data-dismiss="modal">취소</button>
                              <a class="btn btn-primary" href="{% url 'delete_file' file.id %}">삭제</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    -->
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
{% else %}
          <!-- 404 Error Text -->
          <div class="text-center">
            <div class="error mx-auto" data-text="404">404</div>
            <p class="lead text-gray-800 mb-5">관리자만 사용가능한 서비스입니다.</p>
            <p class="text-gray-500 mb-0">사용자 권한을 확인하시기 바랍니다.</p>
            <a href="{% url 'home' %}">&rarr; 홈으로 돌아가기</a>
          </div>
{% endif %}
{% endblock %}